<div class="mx-8">
  <div class="px-4 shadow-2xl max-w-xs sm:max-w-md mx-auto">
    <div class="py-4 px-4 rounded-md">
      <form method="post" class="flex flex-col" [formGroup]="registerForm" (submit)="register()">
        <label for="name" class="mt-4 pl-0.5 pb-1">Name</label>
        <input class="border border-gray-400 rounded invalid:border-red-500 focus:outline-none px-2 py-1 sm:px-3 sm:py-2 " type="text" name="name" id="name" formControlName="name">
        <div class="pl-0.5" *ngIf="registerForm.controls['name']?.dirty && registerForm.controls['name']?.invalid">
          <span class="text-red-600" *ngIf="registerForm.controls['name']?.errors?.['required']">Name is required</span>
          <span class="text-red-600" *ngIf="registerForm.controls['name']?.errors?.['minlength']">Name must be minimum of 3 letters long</span>
          <span class="text-red-600" *ngIf="registerForm.controls['name']?.errors?.['maxlength']">Name must be maximum of 20 letters long</span>
        </div>
        <label for="email" class="mt-4 pl-0.5 pb-1">Email</label>
        <input class="border border-gray-400 rounded focus:outline-none px-2 py-1 sm:px-3 sm:py-2 " type="email" name="email" id="email" formControlName="email">
        <span class=""></span>
        <label for="password" class="mt-4 pl-0.5 pb-1">Password</label>
        <input class="border border-gray-400 rounded focus:outline-none px-2 py-1 sm:px-3 sm:py-2 " type="password" name="password" id="password" formControlName="password">
        <span class=""></span>
        <label for="retype_password" class="mt-4 pl-0.5 pb-1">Retype Password</label>
        <input class="border border-gray-400 rounded focus:outline-none px-2 py-1 sm:px-3 sm:py-2 " type="password" name="retype_password" id="retype_password" formControlName="retype_password">
        <span class=""></span>
        <button class="text-white bg-cyan-600 rounded hover:bg-cyan-700 px-8 py-2 mt-4">Sign Up</button>
      </form>
    </div>
  </div>
</div>