<nav class="bg-gray-800 shadow-2xl sticky top-0 z-50">
    <div class="flex items-center h-16 ">
        <div class="inset-y-0 left-0 flex items-center sm:hidden px-2">
            <!-- Mobile menu button-->
            <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMenu()">
              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" *ngIf="!showMainMenu">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" *ngIf="showMainMenu">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
        </div>
        <div class="flex flex-1">
            <div class="flex-shrink-0">
                <a routerLink="/" class="flex items-center">
                    <img class="h-10 w-auto sm:ml-4" src="assets/angular.png" alt="website-logo" srcset="">
                    <p class="text-3xl uppercase text-white">INKART</p>
                </a>
            </div>
        </div>
        <!--main menu items -->
      <div [ngClass]="{'hidden sm:block':true,'mr-4':!globalService.isLoggedIn}">
        <div class="flex space-x-4">
          <!-- <a routerLink="home" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium">Home</a> -->
          <a routerLink="categories" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium" >Topics</a>
          <a routerLink="write" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium" >Write</a>
          <a routerLink="signin" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-sm font-medium" *ngIf="!globalService.isLoggedIn">Sign In</a>
        </div>
      </div>
      <!-- Profile icon-->   
      <div class="inset-y-0 right-0 flex items-center mr-4 sm:static sm:inset-auto sm:pr-0" *ngIf="globalService.isLoggedIn">
        <div class="relative ml-3">
          <div>
            <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" (click)="toggleProfileMenu($event)" >
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="{{'http://localhost:3000/uploads/user_profile_pic/'+globalService.profilePic}}" alt="{{globalService.profilePic}}">
            </button>
          </div>
          <!--
            Dropdown menu, show/hide based on menu state.
            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
      <!-- Profile dropdown menu-->
    <div class="absolute right-0 z-10 mt-4 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" *ngIf="showProfileMenu">
      <!-- Active: "bg-gray-100", Not Active: "" -->
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
    </div>
  </div>
</div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" *ngIf="showMainMenu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- <a routerLink="home" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Home</a> -->
            <a routerLink="categories" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 block rounded-md px-3 py-2 text-base font-medium">Topics</a>
            <a routerLink="write" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 block rounded-md px-3 py-2 text-base font-medium">Write</a>
            <a routerLink="signin" routerLinkActive="bg-red-600 hover:bg-red-600 text-white" class="text-gray-300 hover:bg-gray-700 block rounded-md px-3 py-2 text-base font-medium" *ngIf="!globalService.isLoggedIn">Sign In</a>
        </div>
    </div>
</nav>