<div class="md:flex">
    <div class="flex flex-col items-center py-8 px-6 md:ml-12 lg:ml-14">
        <div class="max-w-lg overflow-hidden md:max-w-2xl" *ngFor="let post of posts; index as i">
            <div class="flex pb-10">
                <div class="flex">
                    <div class="block h-20 md:h-30 lg:h-36 mr-4">
                        <div class="flex">
                            <div class="shrink-0">
                                <img class="rounded-full h-6 w-6" src="{{post.profile_image}}" alt="">
                            </div>
                            <div class="ml-2">
                                <p>{{post.author}}</p>
                            </div>
                        </div>
                        <div class="mt-1 pb-2 ">
                            <a href="#">
                                <div class="line-clamp-2 overflow-hidden">
                                    <p href="#" class="block text-base leading-tight md:text-lg lg:leading-6 font-bold text-black cursor-pointer hover:underline">{{post.title | titlecase}}</p>
                                </div>
                                <p class="hidden lg:block mt-1 text-slate-500 text-base leading-tight">{{post.content}}</p>
                            </a>
                        </div>
                        <div class="flex space-x-4 pt-1 ">
                            <p class="text-sm">Apr 28</p>
                            <a href="" class="bg-slate-300 text-xs px-2 py-1 rounded-full text-center text-black">Coding</a>
                        </div>
                    </div>
                    <a href="" class="block w-56 md:w-80 lg:w-72">
                        <img class="items-end h-24 w-56 py-2 md:h-32 md:w-80 lg:h-40 lg:w-72"  src="{{post.image}}" alt="thumbnail">
                    </a>
                </div>
            </div>
            <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700" *ngIf="i !== posts.length - 1">
        </div>
    </div>
    <div class="hidden md:flex flex-col items-center py-8 px-6 lg:pl-24 lg:pr-0">
        <div class="max-w-lg overflow-hidden md:max-w-sm ">
            <div class="">
                <p>You maybe interseted in</p>
            </div>
            <div class="flex flex-wrap">
                <a href="" *ngFor="let topic of topics">
                    <p class="bg-slate-300 text-sm mr-2 mt-2 px-3 py-2 rounded-full text-center text-black">{{topic}}</p>
                </a>
            </div>
        </div> 
    </div>
</div>