<div class="md:flex">
    <div class="flex flex-col items-center py-8 px-6 md:ml-12 lg:ml-14">
        <div class="max-w-lg overflow-hidden md:max-w-2xl" *ngFor="let post of posts; index as i">
            <div class="flex pb-10">
                <div class="flex">
                    <div class="block h-20 md:h-30 lg:h-36 mr-4">
<!--                        <div class="flex">-->
<!--                            <div class="shrink-0">-->
<!--                                <img class="rounded-full h-6 w-6" src="{{post.profile_image}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="ml-2">-->
<!--                                <p>{{post.author}}</p>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="mt-1 pb-2 ">
                            <a [routerLink]="['/post' + '/' + post.link]">
                                <div class="line-clamp-2 overflow-hidden">
                                    <p class="block text-base leading-tight md:text-lg lg:leading-6 font-bold text-black cursor-pointer hover:underline">{{post.title | titlecase}}</p>
                                </div>
                                <p class="hidden lg:block mt-1 text-slate-500 text-base leading-tight">{{post.description}}</p>
                            </a>
                        </div>
                        <div class="flex space-x-4 pt-1 ">
                            <p class="text-sm">Apr 28</p>
                            <a href="" class="bg-slate-300 text-xs px-2 py-1 rounded-full text-center text-black">Coding</a>
                        </div>
                    </div>
                    <a [routerLink]="['/post' + '/' + post.link]" class="block w-56 md:w-80 lg:w-72">
                        <img class="items-end h-24 w-56 py-2 md:h-32 md:w-80 lg:h-40 lg:w-72" src="{{post.image}}" alt="thumbnail">
                    </a>
                </div>
            </div>
            <hr class="h-px mb-4 bg-gray-200 border-0 dark:bg-gray-700" *ngIf="i !== posts.length - 1">
        </div>
    </div>
    <div class="hidden md:flex flex-col items-center py-8 px-6 lg:pl-24 lg:pr-0">
        <div class="max-w-lg overflow-hidden md:max-w-sm ">
            <div class="">
                <p>You maybe interseted in</p>
            </div>
            <div class="flex flex-wrap">
                <a href="" *ngFor="let topic of topics">
                    <p class="bg-slate-300 text-sm mr-2 mt-2 px-3 py-2 rounded-full text-center text-black">{{topic}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Signin needed modal for protected route -->
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="globalService.showSigninNeededModal">
    <!--
      Background backdrop, show/hide based on modal state.
  
      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.
  
          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Log in needed</h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">Before you can create your amazing thought or knowledge into an articale you need to login or signup.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" class="inline-flex w-full justify-center rounded-md bg-cyan-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-cyan-500 sm:ml-3 sm:w-auto" (click)="goToSignInPage()">Log in</button>
            <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
  
